@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Shabnam;
    src: url("../../fonts/shabnam/Shabnam.eot");
    src: url("../../fonts/shabnam/Shabnam.eot?#iefix") format("embedded-opentype"), url("../../fonts/shabnam/Shabnam.woff2") format("woff2"), url("../../fonts/shabnam/Shabnam.woff") format("woff"), url("../../fonts/shabnam/Shabnam.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Shabnam;
    src: url("../../fonts/shabnam/Shabnam-Bold.eot");
    src: url("../../fonts/shabnam/Shabnam-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/shabnam/Shabnam-Bold.woff2") format("woff2"), url("../../fonts/shabnam/Shabnam-Bold.woff") format("woff"), url("../../fonts/shabnam/Shabnam-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Shabnam;
    src: url("../../fonts/shabnam/Shabnam-Thin.eot");
    src: url("../../fonts/shabnam/Shabnam-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/shabnam/Shabnam-Thin.woff2") format("woff2"), url("../../fonts/shabnam/Shabnam-Thin.woff") format("woff"), url("../../fonts/shabnam/Shabnam-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: Shabnam;
    src: url("../../fonts/shabnam/Shabnam-Light.eot");
    src: url("../../fonts/shabnam/Shabnam-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/shabnam/Shabnam-Light.woff2") format("woff2"), url("../../fonts/shabnam/Shabnam-Light.woff") format("woff"), url("../../fonts/shabnam/Shabnam-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: Shabnam;
    src: url("../../fonts/shabnam/Shabnam-Medium.eot");
    src: url("../../fonts/shabnam/Shabnam-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/shabnam/Shabnam-Medium.woff2") format("woff2"), url("../../fonts/shabnam/Shabnam-Medium.woff") format("woff"), url("../../fonts/shabnam/Shabnam-Medium.ttf") format("truetype");
    font-weight: 500;
}

/* Shabnam */

/*body {*/
/*    font-family: Shabnam;*/
/*    font-size: 14px;*/
/*    text-align: right;*/
/*    background-color: #fff;*/
/*    overflow-x: hidden !important;*/
/*}*/




.thumbnail {
    width: 100%;
    height: 140px;
    /*border: 1px solid black;*/
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.rtl{
    direction: rtl;
}

.ltr{
    direction: ltr;
}


.thumbnail img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.one-line-text {
    direction: rtl;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.line-clamp-1 {
    background: #002e4b;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
